/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.background_image{
background-image: image-url('cake.png');
background-repeat: no-repeat;
background-position:center center;
width: 100%;
height: 350px;
// text-align: center;
}
.home-text{
  color: #FFFFFF;
  padding-top: 100px;
  text-align: center;
}

.radio_button{
  display: block;
  padding-left: 30px;
}

.radio_button2{
  margin-left: 10px;
}

.thanks{
  margin-top: 50px;
  text-align: center;
}